/* COMMON SET */
body {
  background-image: url("../images/1626308184_40-kartinkin-com-p-ochen-yarkii-belii-fon-krasivo-44.jpg");
  background-size: cover;
  font-family: "Roboto", system-ui;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

p {
  margin: 0;
}

.container {
  width: 768px;
  padding: 0 16px;
  margin: 0 auto;
}

/* my-name */

.my-name,
.education,
.work-experience,
.it-skills,
.contact-inf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-name p {
  color: #999999;
}

.my-name {
  padding: 40px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: 20px 0 15px 0;
  width: 250px;
  height: 250px;
}

.my-photo {
  border-radius: 10%;
}

/* education, work-experience, it-skills, contact-inf-list*/

.education-list,
.work-experience-list,
.it-skills-list,
.contact-inf-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.my-social-networks {
  display: flex;
  gap: 14px;
  margin-bottom: 12px;
}

.icon-inst {
  fill: #e70939;
  transition: transform 250ms;
}

.icon-tg {
  fill: #519ff8;
  transition: transform 250ms;
}

.icon-inst:hover,
.icon-tg:hover {
  transform: scale(1.15);
}

/* FORM */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.input-field {
  margin-top: 10px;
  border: 1px rgb(179, 179, 179) solid;
  border-radius: 12px;
  background-color: #e7e7e7;
  padding: 4px 12px;
}

.txtarea-form {
  resize: none;
  margin-top: 10px;
  border: 1px rgb(179, 179, 179) solid;
  border-radius: 12px;
  background-color: #e7e7e7;
  padding: 8px 12px;
}

.form-btn {
  padding: 12px 24px;
  border: 0.5px solid #525252;
  border-radius: 12px;
  background-color: #e9e9e9;
  transition: background-color 250ms;
}

.form-btn:hover {
  background-color: #3166a3;
}

/* TABLE */

.link-table {
  display: block;
  font-size: 24px;
  color: #3166a3;
  text-align: center;
  margin-bottom: 24px;
  text-decoration: overline;
  transition: transform 250ms ease;
}

.link-table:hover {
  transform: scale(1.2);
}
